* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button::-moz-focus-inner { border: 0; }

body {
  background-color: #f1f2f3;
  font-family: sans; 
  font-size: 0.8em;
  min-width:400px;
}

.gatealert-alarms {
  padding: 17px;
  background-color: #fff;
}

.alarm {
  border-bottom: 1px dashed lightblue;
  margin-bottom: 10px;
  padding-bottom: 10px;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.alarm:last-child {
  border: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.row{
  display:block;
  width: 100%;
}



.gatealert-controls {
  display: inline-flex;
  flex-direction: row;
  list-style-type: none; 
  width: 100%;
}

.gatealert-controls button{
  border: 0px solid transparent;
  line-height: 40px;
  flex-basis: 25%;
  flex-grow: 0;
}

.gate {
  display: flex;
  flex-direction: row;
 /* display: block;*/
  background-color: #fafafa;
  width:100%;
}

.gate button {
  background-color: #fafafa;
  border: 0px solid transparent;
  line-height: 40px;
  /*min-width: 25%;
  display: inline;*/
  flex-basis: 20%;
  flex-grow: 0;
}

.gatealert-gate-id, .gatealert-gate-counter{
  border: 0px solid transparent;
  padding-left:10px;
  padding-right:10px;
  line-height: 40px;
  white-space: nowrap;
  font-size: 1.1em;
}

.gatealert-gate-id.full {
  flex-basis: 80%;
  flex-grow: 0;
  
  /*display: inline;
  min-width: 25%;*/
}
.gatealert-gate-id.counter {
  flex-basis: 55%;
  flex-grow: 0;
  
  /*display: inline;
  min-width: 25%;*/
}

.gatealert-gate-counter{
  /*float:right;
  display: inline;*/
  flex-basis: 25%;
  flex-grow: 1;
}

.gatealert-controls button:hover, .gate button:hover {
  border: 0px solid transparent;
  cursor: pointer;
  background-color: #ddd;
}

.gatealert-controls button:active, .gate button:active {
  outline: none;
  background-color: #ccc;
}

.gatealert-controls button > img, .gate button > img , .gatealert-gate-counter > img{
  margin:0 3px;
  width:16px;
  height: 0.9em;
}

.hide{
  display: none;
}



